

<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login</title>
</head>

<body>

<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
  <div class="col-sm-6">
      <h3 class="text-center">Create New Password</h3>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <strong>{{ message }}</strong> 
        </div>
        {% endfor %}
      {% endif %}
        
  <form action="{% url "set-new-password" uidb64 token %}" method="POST">
    {% csrf_token %}
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row">
  
      
          <!-- Password input -->
      <div class="form-outline mb-4">
          <label class="form-label" for="form3Example4">Password</label>
          <input type="password" id="form3Example4" class="form-control" name="pass1" required />
        </div>
    
        <!-- Password confirm -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example4">Password Confirm</label>
          <input type="password" id="form3Example4" class="form-control" name="pass2" required />
        </div>
  
      <br>
      <br>
  
      <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
    
      <hr>
  
      
      <div class="text-center">
          Go Back <a href="/login/">Login</a>
          <br> 
   <br>
      </div>
    </form>
          {% if form.non_fields_errors %}
          {% for error in non_fields_errors %}
          <p class="alert alert-danger my-3">
              {{error}}
          </p>
          {% endfor %}
          {% endif %}
      </form>
  </div>
</div>

      <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>